@font-face {
        font-family: "CustomFont1";
        src: url("fonts/ZalandoSansExpanded-VariableFont_wght.ttf") format("truetype");
        font-weight: normal;
        font-style: normal;
    }
@font-face {
    font-family: "CustomFont2";
    src: url("fonts/DynaPuff-VariableFont_wdth\,wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}