* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 600px) {
    input {
        display: block;
        width: 90%;
        padding: 10px 0;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
        color: black;
        text-align: center;
        font-weight: bold;
        font-family: "CustomFont2";
        font-size: 17px;
    }
}

@media (min-width: 800px) {
    input {
        display: block;
        width: 70%;
        padding: 10px 0;
        border: 2px solid black;
        border-radius: 20px;
        background-color: white;
        color: black;
        text-align: center;
        font-weight: bold;
        font-family: "CustomFont2";
        font-size: 22px;
}
}
h2 {
    font-family: "CustomFont2";
    margin-bottom: 10px;
}
p {
    font-family: "CustomFont2";
}
.login-card {
    padding: 20px;
    border: 3px solid black;
    border-radius: 50px;
    width: 500px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    background-color: white;
    color: #333
}

.back-button {
    align-self: flex-start;
    text-decoration: none;;
    color: black;
    font-size: 20px;
    font-weight: bold;
    transform: scale(2.0);
    margin-left: 15px;
    width: auto;
}



.ToS {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.ToS input[type="checkbox"] {
    width: auto;
    margin: 0px;
}

.ToS label {
    font-family: "CustomFont2";
    font-size: 14px
}

button {
    padding: 10px;
    border: 3px dashed black;
    border-radius: 20px;
    background-color: #ffff;
    color: black;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    font-family: "CustomFont2";
    margin-bottom: 5px;
}

#login-btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    text-decoration: 3px line-through;
    border: 3px dotted black
    
}

button:not(:disabled):hover {
    border: 3px solid black;
}